<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ahzoo.admin.mapper.AccessMapper">

    <resultMap id="BaseResultMap" type="cn.ahzoo.admin.model.entity.Access">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uv" column="uv" jdbcType="INTEGER"/>
            <result property="pv" column="pv" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="VARCHAR"/>
            <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uv,pv,
        date,updated_date
    </sql>

    <select id="selectWebsiteAccess" resultType="cn.ahzoo.admin.model.entity.Access">
        SELECT
        <include refid="Base_Column_List"/>
        FROM b_access
        LIMIT 1
    </select>
</mapper>
