<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ahzoo.z2blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.ahzoo.z2blog.model.entity.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
            <result property="style" column="style" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="weight" column="weight" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="deprecated" column="deprecated" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="ArticleItemMap" type="cn.ahzoo.z2blog.model.vo.ArticleItemVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
        <collection property="columnList" ofType="cn.ahzoo.z2blog.model.vo.BriefColumnVO">
            <id property="id" column="column_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,path,title,
        description,thumbnail,style,
        created_date,updated_date,type,
        weight,status,deprecated
    </sql>

    <sql id="Base_ArticleItem_List">
        a.id,a.path,a.title,a.description,
        a.thumbnail,a.created_date,a.updated_date
    </sql>

    <select id="listArticleByColumnId" resultType="cn.ahzoo.z2blog.model.vo.ArticleItemVO">
        SELECT
        <include refid="Base_ArticleItem_List"></include>
        FROM b_article a
        LEFT JOIN b_article_column ac
        ON a.id = ac.article_id
        WHERE ac.column_id = #{columnId}
        AND a.status = 1
        AND a.deprecated = 0
        ORDER BY a.weight DESC, a.created_date DESC
        LIMIT #{paginationIndex}, #{size}
    </select>

    <select id="listArticleItem" resultMap="ArticleItemMap">
        SELECT
        <include refid="Base_ArticleItem_List"></include>,
        co.id,co.name
        FROM b_article a
        LEFT JOIN b_article_column ac
        ON a.id = ac.article_id
        LEFT JOIN b_column co
        ON co.id = ac.column_id
        WHERE a.status = 1
        AND a.deprecated = 0
        ORDER BY a.weight DESC, a.created_date DESC
        LIMIT #{paginationIndex}, #{size}
    </select>

    <select id="selectArticleContentById" resultType="cn.ahzoo.z2blog.model.dto.ArticleContentDTO">
        SELECT article_id, content_html AS content
        FROM b_article_content
        WHERE article_id = #{articleId}
    </select>

    <select id="countArticleByColumnId" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM b_article a
        LEFT JOIN b_article_column ac
        ON a.id = ac.article_id
        WHERE ac.column_id = #{columnId}
          AND a.status = 1
          AND a.deprecated = 0
    </select>

    <select id="getArticleByPath" resultType="cn.ahzoo.z2blog.model.vo.ArticleVO">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM b_article
        WHERE path = #{path}
    </select>

    <select id="countArticle" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM b_article
        WHERE deprecated = 0
        AND status = 1
    </select>

    <select id="selectBatchByIds" resultType="cn.ahzoo.z2blog.model.vo.ArticleVO">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM b_article
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND status = 1
        AND deprecated = 0
        ORDER BY weight DESC, created_date DESC
    </select>

</mapper>
