<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ahzoo.z2blog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="cn.ahzoo.z2blog.model.entity.Category">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CategoryColumnMap" type="cn.ahzoo.z2blog.model.vo.CategoryColumnVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <collection property="columnList" ofType="cn.ahzoo.z2blog.model.vo.BriefColumnVO">
            <id property="id" column="column_id" jdbcType="BIGINT"/>
            <result property="name" column="column_name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
</mapper>
